@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0.003 202);
  --foreground: oklch(0.17 0.013 202);
  --card: oklch(0.99 0.003 202);
  --card-foreground: oklch(0.17 0.013 202);
  --popover: oklch(0.99 0.003 202);
  --popover-foreground: oklch(0.17 0.013 202);
  --primary: oklch(0.5 0.121 202);
  --primary-foreground: oklch(0.98 0.003 202);
  --secondary: oklch(0.94 0.01 202);
  --secondary-foreground: oklch(0.28 0.02 202);
  --muted: oklch(0.95 0.007 202);
  --muted-foreground: oklch(0.5 0.013 202);
  --accent: oklch(0.9 0.02 22);
  --accent-foreground: oklch(0.25 0.02 22);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.9 0.007 202);
  --input: oklch(0.9 0.007 202);
  --ring: oklch(0.5 0.121 202);
  --chart-1: oklch(0.55 0.107 202);
  --chart-2: oklch(0.62 0.094 22);
  --chart-3: oklch(0.5 0.101 202);
  --chart-4: oklch(0.68 0.08 22);
  --chart-5: oklch(0.55 0.107 202);
  --radius: 20px;
  /* sidebar */
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.17 0.013 202);
  --sidebar-primary: oklch(0.5 0.121 202);
  --sidebar-primary-foreground: oklch(0.98 0.003 202);
  --sidebar-accent: oklch(0.9 0.02 22);
  --sidebar-accent-foreground: oklch(0.25 0.02 22);
  --sidebar-border: oklch(0.9 0.007 202);
  --sidebar-ring: oklch(0.5 0.121 202);
  /* custom */
  --heading: oklch(0.15 0.014 202);
  --subheading: oklch(0.35 0.015 202);
  --success: oklch(0.65 0.14 142);
  --button-dark: oklch(0.2 0.012 202);
  --button-dark-hvr: oklch(28.269% 0.01003 207.22);
  --warning: oklch(0.94 0.08 65);
  --warning-foreground: oklch(0.32 0.12 65);
  --warning-border: oklch(0.82 0.12 65);
  --warning-link: oklch(0.48 0.15 55);
  /* gradients */
  --gradient-primary-light: linear-gradient(
    135deg,
    oklch(0.68 0.2 215) 0%,
    oklch(0.54 0.18 190) 100%
  );
  --gradient-primary-light-hvr: linear-gradient(
    135deg,
    oklch(0.65 0.21 212) 0%,
    oklch(0.52 0.19 185) 100%
  );
}

.dark {
  --background: oklch(0.12 0.01 202);
  --foreground: oklch(0.93 0.005 202);
  --card: oklch(0.16 0.012 202);
  --card-foreground: oklch(0.93 0.005 202);
  --popover: oklch(0.16 0.012 202);
  --popover-foreground: oklch(0.93 0.005 202);
  --primary: oklch(0.72 0.094 202);
  --primary-foreground: oklch(0.12 0.01 202);
  --secondary: oklch(0.22 0.013 202);
  --secondary-foreground: oklch(0.88 0.005 202);
  --muted: oklch(0.22 0.013 202);
  --muted-foreground: oklch(0.6 0.013 202);
  --accent: oklch(0.27 0.02 22);
  --accent-foreground: oklch(0.93 0.005 22);
  --destructive: oklch(0.7 0.19 22);
  --border: oklch(0.24 0.01 202);
  --input: oklch(0.24 0.01 202);
  --ring: oklch(0.72 0.094 202);
  --chart-1: oklch(0.65 0.094 202);
  --chart-2: oklch(0.68 0.08 22);
  --chart-3: oklch(0.58 0.087 202);
  --chart-4: oklch(0.74 0.067 22);
  --chart-5: oklch(0.6 0.094 202);
  /* sidebar */
  --sidebar: oklch(0.218 0.008 223.9);
  --sidebar-foreground: oklch(0.93 0.005 202);
  --sidebar-primary: oklch(0.72 0.094 202);
  --sidebar-primary-foreground: oklch(0.93 0.005 22);
  --sidebar-accent: oklch(0.27 0.02 22);
  --sidebar-accent-foreground: oklch(0.93 0.005 22);
  --sidebar-border: oklch(0.24 0.01 202);
  --sidebar-ring: oklch(0.72 0.094 202);
  /* custon */
  --heading: oklch(0.95 0.005 202);
  --subheading: oklch(0.75 0.01 202);
  --success: oklch(0.75 0.12 142);
  --button-dark: oklch(0.28 0.014 202);
  --button-dark-hvr: oklch(0.35 0.015 202);
  --warning: oklch(0.27 0.025 35);
  --warning-foreground: oklch(0.85 0.08 65);
  --warning-border: oklch(0.65 0.12 65);
  --warning-link: oklch(0.78 0.14 55);
  /* gradients */
  --gradient-primary-light: linear-gradient(
    135deg,
    oklch(0.75 0.19 215) 0%,
    oklch(0.65 0.17 190) 100%
  );
  --gradient-primary-light-hvr: linear-gradient(
    135deg,
    oklch(0.73 0.2 212) 0%,
    oklch(0.63 0.18 185) 100%
  );
}

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-bricolage: var(--font-bricolage);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --font-heading: var(--font-heading);

  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  /* custom */
  --color-heading: var(--heading);
  --color-subheading: var(--subheading);
  --color-success: var(--success);
  --color-btn-dark: var(--button-dark);
  --color-btn-dark-hvr: var(--button-dark-hvr);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-link: var(--warning-link);
  --color-warning-border: var(--warning-border);

  /* gradients */
  --background-image-primary-light: var(--gradient-primary-light);
  --background-image-primary-light-hvr: var(--gradient-primary-light-hvr);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
